<div>
  <h3>Tic-Tac-Toe</h3>
  <button class="btn btn-primary" (click)="startOrRestartGame()" id="button">
    {{ isGameStarted ? 'Restart the Game' : 'Start the Game' }}
  </button>
  <button class="btn btn-primary clear-btn" (click)="clearGame()">Clear the Game</button>
</div>

<ng-container *ngIf="isGameStarted">
  <h4>Player: <span [ngClass]="currentPlayer === 'X' ? 'player-x' : 'player-o'">{{currentPlayer}}</span></h4>
  <app-board [board]="board" [currentPlayer]="currentPlayer" (cellClick)="makeMove($event)"></app-board>
</ng-container>
